<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História do POO</title>
    <link rel="stylesheet" href="historia.poo.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
    <link rel="shortcut icon" href="/image/OIP.ico" type="image/x-icon">
</head>
<body>
    
    <div class="navbar">
        <!--<a href="/src/index.html">Apresentação</a>-->
        <a href="/template/historia-dart/historia-dart.html">Historia do Dart</a>
        <a href="/template/atributos-dart/atr-dart.html">Atributos do Dart</a>
        <a href="/template/atributos-paradigma/atr-para.html">Atributos do Paradigma</a>
        <a href="/index.html">Apresentação</a>
    </div>

    <!-- Slick Carousel Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="historia-poo.js"></script>

   <header>
       <h1>História da Programação Orientada a Objetos (POO)</h1>
   </header>


   <div class="fundo">
       <main>
           <section class="content">
               <article>
                   <h2>História da Programação Orientada a Objeto</h2>
                   <br>
                   <h3>1960: Surgimento da POO</h3>
                   <p class="introducao">Com seu surgimento em 1960 no Centro Norueguês de Computação, através da linguagem <a href="https://staff.um.edu.mt/jskl1/talk.html"><strong>Simula 67</strong></a> para facilitar a criação de sistemas modelados. Em que todo trabalho de programação moderno realizado nos dias de hoje é baseado no POO que foi introduzido pela primeira vez no <strong>Simula 67</strong> com seu conceito de <strong>classe</strong> e <strong>herança</strong>.</p>
                   <p class="introducao">As ideias que o <strong>Simula 67</strong> serviram como uma base para a utilização do <strong>Tipo Abstrato de Dados (TAD)</strong> criado por <a href="https://wiki.inf.ufpr.br/computacao/doku.php?id=b:barbara_liskov"><strong>Barbara Liskov</strong></a>. O <strong>TAD</strong> teve uma grande influência na criação da Programação Orientada a Objeto, trazendo diversos conceitos como <strong>Encapsulamento</strong>, <strong>Modularidade</strong>, <strong>Abstração</strong> e <strong>Herança</strong>.</p>
                   <br>
                   <h3>1970: O Desenvolvimento do SmallTalk</h3>
                   <p class="introducao">O <strong>SmallTalk</strong> foi desenvolvido no Centro de Pesquisa da Xerox na década de 70 por <strong>Alan Kay</strong>, um dos idealizadores do princípio de <strong>objetos ativos</strong>, prontos a "reagir" a <strong>mensagens</strong> que ativam "comportamentos" específicos do objeto. Ou seja, os objetos em <strong>SmallTalk</strong> deixam de ser meros <a href="https://dcc.ufrj.br/~jonathan/smalltalk/Introd-a-POO-com-Smalltalk-1994.pdf">"dados" manipulados por "programas"</a>, e passam a ser encarados como <strong>processadores idealizados</strong> individuais e independentes, aos quais podem ser transmitidos comandos em forma de "mensagens".</p>
                   <br>
                   <h3>1980: Popularização com C++ e Eiffel</h3>
                   <p class="introducao"><a href="https://pt.wikipedia.org/wiki/Eiffel_(linguagem_de_programação)">Nos anos 80, o POO começou a se popularizar com a ascensão do <strong>C++</strong></a>, que introduziu o conceito de POO, sendo uma das linguagens com mais influência da época. Também surgiu o <strong>Eiffel</strong>, <a href="https://soft.vub.ac.be/~tvcutsem/talks/presentations/eiffelvscpp03prog.pdf">que introduziu o conceito de <strong>Design by Contract</strong></a>, influenciando o desenvolvimento de softwares orientados a objetos.</p>
                   <br>
                   <h3>1990: Surgimento do Java e UML</h3>
                   <p class="introducao"><a href="https://www.devmedia.com.br/orientacao-a-objetos-da-teoria-a-pratica-com-a-linguagem-uml/34308">Nos anos 90</a>, uma linguagem projetada para que fosse orientada a objeto estava sendo desenvolvida pela <strong>Sun Microsystems</strong>, com o foco em ser uma linguagem forte, robusta, portátil e orientada a objeto. Essa linguagem era o <strong>Java</strong>. Também houve o surgimento da <strong>UML (Unified Modeling Language)</strong>, tornando-se padrão para modelar sistemas orientados a objetos, fornecendo uma linguagem mais visual.</p>
                   <br>
                   <h3>2000/2010: Avanços com C# e Swift</h3>
                   <br>
                   <p class="introducao">Em 2000, desenvolvida pela <strong>Microsoft</strong>, que combinou o <strong>Java</strong> e o <strong>C++</strong>, foi criado o <strong>C#</strong>, utilizado para criar a plataforma <strong>.NET</strong>.</p>
                   <p class="introducao">Em 2010, a <strong>Apple</strong> decidiu introduzir o POO na sua linguagem <strong>Swift</strong> para desenvolver aplicativos do iOS e macOS.</p>
                   <br>
                   <h2>Curiosidades</h2>
                    <p class="introducao">Enquanto pesquisava sobre o assunto, encontrei um post interessante onde Alan Kay comenta que <a href="https://qr.ae/p2zGrh">o C++ está longe de ser uma linguagem orientada a objetos de acordo com suas ideias.</a></p>
               </article>
           </section>


           <aside class="references">
               <h3>Referências <br></h3>
               <div class="left">
                  
                       <li><a href="https://qr.ae/p2zGrh" target="_blank">https://qr.ae/p2zGrh</a></li>
                       <li><a href="https://www.alura.com.br/artigos/poo-programacao-orientada-a-objetos?srsltid=AfmBOoqdDld6h3hN-Ufg4xCUKGa98gmmsZPDMBIEQkaKWrAKtpdfDJ5U" target="_blank">https://www.alura.com.br/artigos/poo-programacao-orientada-a-objetos?srsltid=AfmBOoqdDld6h3hN-Ufg4xCUKGa98gmmsZPDMBIEQkaKWrAKtpdfDJ5U</a></li>
                       <li><a href="https://dcc.ufrj.br/~jonathan/smalltalk/Introd-a-POO-com-Smalltalk-1994.pdf" target="_blank">https://dcc.ufrj.br/~jonathan/smalltalk/Introd-a-POO-com-Smalltalk-1994.pdf</a></li>
                       <li><a href="https://staff.um.edu.mt/jskl1/talk.html" target="_blank">https://staff.um.edu.mt/jskl1/talk.html</a></li>
                       <li><a href="https://wiki.inf.ufpr.br/computacao/doku.php?id=b:barbara_liskov">https://wiki.inf.ufpr.br/computacao/doku.php?id=b:barbara_liskov</a></li>
                       <li><a href="https://news.ycombinator.com/item?id=2336444" target="_blank">https://news.ycombinator.com/item?id=2336444</a></li>
                       <li><a href="https://news.ycombinator.com/item?id=19980743" target="_blank">https://news.ycombinator.com/item?id=19980743</a></li>
                       <li><a href="https://soft.vub.ac.be/~tvcutsem/talks/presentations/eiffelvscpp03prog.pdf">https://soft.vub.ac.be/~tvcutsem/talks/presentations/eiffelvscpp03prog.pdf</a></li>
                       <li><a href="https://pt.wikipedia.org/wiki/Eiffel_(linguagem_de_programação)">https://pt.wikipedia.org/wiki/Eiffel_(linguagem_de_programação)</a></li>
                       <li><a href="https://www.devmedia.com.br/orientacao-a-objetos-da-teoria-a-pratica-com-a-linguagem-uml/34308">https://www.devmedia.com.br/orientacao-a-objetos-da-teoria-a-pratica-com-a-linguagem-uml/34308</a></li>
                  
               </div>
               <!--<div class="divider"></div>
               <div class="right">
                   <ul>
                       <li><a href="https://exemplo.com">Referência 3</a></li>
                       <li><a href="https://exemplo.com">Referência 4</a></li>
                   </ul>

                   <div class="divider"></div>
                   
               </div>-->
           </aside>
           
       </main>
   </div>
    
</body>
</html>
