<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paradigma Orientado a Objeto</title>
    <link rel="stylesheet" href="qr-code.css">
</head>
<body>

    <h1 class="titulo">Paradigma Orientado a Objeto</h1>

    <img src="image/qr.png" alt="QR Code" class="qr-code">


    <button class="button" onclick="location.href='index.html'">Avançar</button>

    <h3 class="link">https://felip3monteiro.github.io/paradigma-poo/template/historia-poo/historia-poo.html</h3>

</body>
</html>
