<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História do POO</title>
    <link rel="stylesheet" href="atr-dart.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
    <link rel="shortcut icon" href="/image/OIP.ico" type="image/x-icon">
</head>
<body>
    
    <div class="navbar">
        <!--<a href="/src/index.html">Apresentação</a>-->
        <a href="/template/historia-poo/historia-poo.html">Historia do POO</a>
        <a href="/template/historia-dart/historia-dart.html">Historia do Dart</a>
        <a href="/template/atributos-paradigma/atr-para.html">Atributos do Paradigma</a>
        <a href="/index.html">Apresentação</a>
        
    </div>

     <!-- Slick Carousel Scripts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
     <script src="atr-dart.js"></script>

    <header>
        <h1>Atributos da Linguagem Dart</h1>
    </header>


    <div class="fundo">
        <main>
            <section class="content">
                <article>
                    <h2>Sintaxe do Dart</h2>
                    <br>
                    <!--<img src="/src/image/AlanKay.jpg" alt="Imagem relacionada à POO">-->
                    <p class="introducao">A sintaxe do Dart é baseada na linguagem C, o que torna sua estrutura clara e concisa. Isso facilita o entendimento para desenvolvedores que já estão familiarizados com outras linguagens populares como Java e C#, permitindo uma curva de aprendizado mais suave.</p>
                    <br>
                    <h3>Tipagem</h3>
                    <br>
                    <p class="introducao"><a href="https://www.alura.com.br/artigos/dart#:~:text=Dart%20foi%20criada%20com%20o,o%20execute%20em%20diversas%20plataformas">Dart é uma linguagem de tipagem estática</a>, ou seja, o tipo de dado de uma variável precisa ser declarado explicitamente. Esse recurso permite maior segurança e eficiência na execução do código, uma vez que os erros de tipo podem ser detectados durante a compilação.</p>
                    <br>
                    <h3>Orientação a Objetos</h3>
                    <br>
                    <p class="introducao">Dart é uma linguagem orientada a objetos, o que significa que ela segue o paradigma de classes e objetos. Esse modelo facilita a reutilização de código, melhora a legibilidade e torna a manutenção do software mais prática. Além disso, a linguagem é multiparadigma, ou seja, pode ser usada para desenvolver desde aplicações web até aplicativos móveis e de desktop.</p>
                    <br>
                    <img src="/image/img-dart-POO.jpg" alt="Dart-POO">
                    <br>
                    <br>
                    <h3>Compilação</h3>
                    <br>
                    <p class="introducao">Dart possui uma flexibilidade interessante quando se trata de compilação. Ela pode ser compilada tanto para código nativo quanto para JavaScript, o que permite a execução em uma ampla gama de plataformas, como navegadores, servidores e dispositivos móveis.</p>
                    <br>
                    <h3>Execução</h3>
                    <br>
                    <p class="introducao">A execução do Dart pode ocorrer em ambientes nativos (como em aplicativos mobile e desktop) ou em ambientes web. Isso é possível devido ao suporte a diferentes métodos de compilação, como JIT (just-in-time) e AOT (ahead-of-time), que otimizam a performance dependendo do ambiente de execução.</p>
                    <br>
                    <h3>Recurso</h3>
                    <br>
                    <p class="introducao">Dart oferece uma ampla gama de recursos de programação. A linguagem inclui interfaces, classes abstratas e coleções que permitem a criação de soluções flexíveis e eficientes para diferentes tipos de aplicações.</p>
                    <br>
                    <h3>Velocidade</h3>
                    <br>
                    <p class="introducao">Graças à combinação de JIT e AOT, o Dart consegue gerar aplicações de maneira mais rápida, com tempos de carregamento e execução otimizados. Isso o torna uma linguagem eficaz para o desenvolvimento de aplicações de alta performance.</p>
                    <br>
                    <h3>Análises Estáticas</h3>
                    <br>
                    <p class="introducao">Outro ponto forte da linguagem é o suporte a análises estáticas, o que permite identificar possíveis erros no código sem a necessidade de executá-lo. Isso contribui para a segurança e robustez das aplicações desenvolvidas.</p>
                    <br>
                    <h3>Suporte a JavaScript</h3>
                    <br>
                    <p class="introducao">No contexto de desenvolvimento web, o Dart se destaca por seu suporte nativo a JavaScript. Além disso, ele oferece integração com bibliotecas e tecnologias como HTML e CSS, o que facilita o desenvolvimento de interfaces ricas e dinâmicas.</p>
                    <br>
                    <h3>Curiosidades</h3>
                    <br>
                    <ol class="introducao">
                        <li>Dart foi <a href="https://pt.wikipedia.org/wiki/Dart_(linguagem_de_programação)#Exemplo" target="_blank">criada pela Google</a> e lançada oficialmente em 2011 na Conferência GOTO, realizada na Dinamarca.</li>
                        <li>Seus criadores, Lars Bak e Kasper Lund, já haviam contribuído para projetos como o V8, o motor JavaScript do Google Chrome.</li>
                        <li>O objetivo inicial do Dart era substituir o JavaScript como a principal linguagem de script dos navegadores, mas esse plano evoluiu para que o Dart se tornasse uma linguagem multiplataforma.</li>
                        <li>Como uma linguagem de tipagem estática, o Dart se diferencia por exigir a declaração explícita dos tipos de variáveis.</li>
                        <li>O Dart é otimizado para interfaces de usuário, o que o torna especialmente eficaz no desenvolvimento de aplicativos móveis e web.</li>
                        <li>A flexibilidade de compilação para JavaScript ou código nativo permite que o Dart rode tanto em navegadores quanto em dispositivos móveis ou desktop.</li>
                        <li>O Dart segue o paradigma de orientação a objetos, além de ser multiparadigma, o que amplia sua versatilidade em diferentes contextos de desenvolvimento.</li>
                        <li>A sintaxe do Dart é fortemente influenciada pela linguagem C, o que facilita sua adoção por desenvolvedores que já têm experiência com linguagens baseadas nesse estilo.</li>
                        <li>A linguagem é considerada mais rápida que o JavaScript, graças aos recursos JIT e AOT, que otimizam a execução do código em diferentes plataformas.</li>
                        <li>O lançamento do Flutter em 2017 consolidou a importância do Dart no cenário de desenvolvimento, permitindo a criação de aplicativos nativos para Android, iOS e web com uma única base de código.</li>
                    </ol>
                    <br>
                    <h3>Pontos de Observação sobre as Curiosidades do Dart</h3>
                    <br>
                    <ol class="introducao">
                        <li>O <a href="https://pt.wikipedia.org/wiki/GoToMeeting" target="_blank">GoToMeeting</a> é uma solução baseada em software, desenvolvida pela empresa GoTo,
                            que oferece uma plataforma para reuniões profissionais virtuais com foco em recursos e
                            administradores, nas quais estes últimos podem facilmente gerenciar os participantes
                            integrando com diversas tecnologias como o Active Directory
                            </li>
                            <br>
                        <li><a href="https://en.wikipedia.org/wiki/Lars_Bak_(computer_programmer)" target="_blank">Lars Bak (1965)</a> é um programador dinamarquês, conhecido pelo seu trabalho em
                            máquinas virtuais e expertise em Javascript. Ele trabalhou previamente na Google,
                            contribuindo para o desenvolvimento do V8 Javascript Engine. Bak estudou na Universidade
                            de Aarhus , na Dinamarca, onde recebeu um mestrado em ciência da computação em 1988,
                            após o qual se tornou ativo no projeto e implementação de máquinas virtuais orientadas a
                            objetos . Ele recebeu o Prêmio Sênior Dahl–Nygaard de 2018.Kasper Lund(1978) Engenheiro de software na Google Inc. no escritório dinamarquês em
                            Aarhus, onde foi líder do site (desde agosto de 2015) e líder de engenharia do projeto Dart.
                            (2006 - 2010)Engenheiro de software na Google Inc. trabalhando no V8 : o mecanismo
                            JavaScript de alto desempenho do Google. O V8 é usado no Google Chrome e no node.js e
                            está disponível gratuitamente como software de código aberto sob uma licença BSD
                            permissiva . Eu era o líder técnico do projeto Crankshaft que introduziu otimizações
                            adaptativas conduzidas por feedback de tipo no V8.
                            </li>
                            <br>
                            <img src="/image/Lars Bak - portrett.jpeg" alt="Lars_Bak">
                            <br>
                            <br>
                        <li>A missão inicial do Dart era substituir o JavaScript para desenvolvimento de scripts em
                            páginas web. Porém, com a evolução da linguagem e com o passar dos anos, ela hoje pode
                            ser considerada uma linguagem multi-paradigma, embora a linguagem apresente fortes
                            estruturas típicas de linguagens orientadas a objetos. Um dos pontos que dificultaram a
                            adoção do Dart no início foi o fato de que a Google foi acusada de fomentar a fragmentação
                            das plataformas web. Para a maioria dos desenvolvedores e empresas, não fazia sentido
                            trocar uma linguagem consolidada para a web como o JavaScript por uma linguagem nova
                            como o Dart, por mais que a Google tivesse planos de incluir a DartVM de maneira nativa
                            ao Google Chrome na época, já um dos browsers mais utilizados. A fama que a Google tem
                            por abandonar alguns produtores de maneira abrupta também fizeram com que os
                            desenvolvedores olhassem com uma certa desconfiança para o Dart.</li>
                            <br>
                        <li>Dart foi projetada para ser fácil de aprender. Sua familiaridade com outras linguagens
                            populares do mercado reduz a necessidade de aprender novas estruturas e sintaxes.</li>
                            <br>
                        <li></li><img src="/image/atr-dart-5.png" alt="atr-dart">
                        <br>
                        <li>Otimizada para o cliente para construir rapidamente aplicações para celulares, desktop, e
                            de servidor. Dart foi desenvolvido pela Google para ser utilizado com a sua estrutura Flutter,
                            com cross-platform.</li>
                            <br>
                        <li>Compilação para JavaScript e Código Nativo: Uma das maiores forças de Dart
                            é sua flexibilidade em termos de compilação. Ela pode ser compilada para
                            JavaScript, permitindo que aplicações Dart rodem em qualquer navegador web, ou
                            para código nativo para plataformas móveis e desktop.</li>
                            <br>
                        <li>Orientada a objetos:A Dart usa o conceito de classe, que é um "molde" ou "forma" que
                            representa objetos com características e comportamentos em comum.
                            Multiparadigma
                            A Dart é uma linguagem de programação multiparadigma, ou seja, pode ser usada para
                            desenvolver aplicações web, móveis e de desktop.</li>
                            <br>
                        <li>O Dart possui uma <a href="https://professorvitoralves.medium.com/top-7-dicas-e-truques-de-dart-para-aplicações-em-flutter-670996b32c4f#:~:text=Dart%20é%20uma%20linguagem%20de,Flutter,%20com%20cross-platform" target="_blank">sintaxe com estilo baseado no C.</a> Isso faz com que sua sintaxe seja
                            muito similar à linguagens atualmente populares, como Java e C#. Porém, o Dart tenta
                            reduzir um pouco os ruídos característicos de linguagens baseadas no C.
                            Um simples "Hello World" em Dart poderia ser escrito da seguinte forma:
                        </li><img src="/image/img-dart3.png" alt=""><p>Dart também possui algumas características de linguagens funcionais. Isso fica claro no
                            exemplo abaixo, onde uma sequência de Fibonacci é gerada.</p>
                            <img src="/image/atr-dart4.png" alt="">
                            <br><br>
                        <li>A linguagem de programação Dart é mais rápida que o JavaScript porque possui
                            recursos como JIT e AOT (just-in-time e ahead-of-time) que permitem a criação de
                            aplicativos de forma mais rápida.</li>
                    </ol>

                </article>
            </section>
            <aside class="references">
                <h3>Referências <br></h3>
                <div class="left">
                    <ul>
                        <li><a href="https://pt.wikipedia.org/wiki/GoToMeeting" target="_blank">https://pt.wikipedia.org/wiki/GoToMeeting</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Lars_Bak_(computer_programmer)" target="_blank">https://en.wikipedia.org/wiki/Lars_Bak_(computer_programmer)</a></li>
                        <li><a href="https://verdich.dk/kasper/" target="_blank">https://verdich.dk/kasper/</a></li>
                        <li><a href="https://www.alura.com.br/artigos/dart#:~:text=Dart%20foi%20criada%20com%20o,o%20execute%20em%20diversas%20plataformas" target="_blank">https://www.alura.com.br/artigos/dart#:~:text=Dart%20foi%20criada%20com%20o,o%20execute%20em%20diversas%20plataformas</a></li>
                        <li><a href="https://professorvitoralves.medium.com/top-7-dicas-e-truques-de-dart-para-aplica%C3%A7%C3%B5es-em-flutter-670996b32c4f#:~:text=Dart%20%C3%A9%20uma%20linguagem%20de,Flutter%2C%20com%20cross%2Dplatform" target="_blank">https://professorvitoralves.medium.com/top-7-dicas-e-truques-de-dart-para-aplicações-em-flutter</a></li>
                        <li><a href="https://www.escoladnc.com.br/blog/dart-programming-language-como-funciona-essa-linguagem/#:~:text=Compila%C3%A7%C3%A3o%20para%20JavaScript%20e%20C%C3%B3digo,para%20plataformas%20m%C3%B3veis%20e%20desktop" target="_blank">https://www.escoladnc.com.br/blog/dart-programming-language</a></li>
                        <li><a href="https://ajuda.gitlab.io/guia-rapido/flutter/dart/" target="_blank">https://ajuda.gitlab.io/guia-rapido/flutter/dart/</a></li>
                        <li><a href="https://pt.stackoverflow.com/questions/356739/diferen%C3%A7a-entre-compila%C3%A7%C3%A3o-ahead-of-time-e-just-in-time" target="_blank">https://pt.stackoverflow.com/diferença-compilação-ahead-of-time-e-just-in-time</a></li>
                        <li><a href="https://pt.wikipedia.org/wiki/Dart_(linguagem_de_programa%C3%A7%C3%A3o)#:~:text=Dart%20%28originalmente%20denominada%20Dash%29%20%C3%A9%20uma%20linguagem%20de,como%20a%20linguagem%20principal%20embutida%20nos%20navegadores.%20" target="_blank">https://pt.wikipedia.org/wiki/Dart_(linguagem_de_programação)#Exemplo</a></li>
                    </ul>
                </div>
                <!--<div class="divider"></div>
                <div class="right">
                    -<ul>
                        <li><a href="https://exemplo.com">Referência 3</a></li>
                        <li><a href="https://exemplo.com">Referência 4</a></li>
                    </ul>

                    <div class="divider"></div>
                    
                </div>-->
            </aside>
            
        </main>
        <!--<div class="download-container">
            <a href="pdf/Dart- Atributos e Curiosidades-Victoria.pdf" download="Atributos e Curiosidades" class="download-btn">Baixar PDF</a>
        </div>-->
    </div>
    
</body>
</html>
