<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História do POO</title>
    <link rel="stylesheet" href="atr-para.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
    <link rel="shortcut icon" href="/image/OIP.ico" type="image/x-icon">
</head>
<body>
    
    <div class="navbar">
        <!--<a href="/src/index.html">Apresentação</a>-->
        <a href="/template/historia-dart/historia-dart.html">Historia do Dart</a>
        <a href="/template/historia-poo/historia-poo.html">Historia do POO</a>
        <a href="/template/atributos-dart/atr-dart.html">Atributos do Dart</a>
        <a href="/index.html">Apresentação</a>
    </div>

     <!-- Slick Carousel Scripts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
     <script src="atr-para.js"></script>

    <header>
        <h1>Atributos do POO</h1>
    </header>


    <div class="fundo">
        <main>
            <section class="content">
                <article>
                    <h2>Conceitos principais de POO</h2>
                        <br>
                    <p class="introducao">O paradigma orientado a objetos parte da representação do mundo real como um conjunto de componentes/objetos/coisas/entidades que interagem entre si e não apenas a junção de vários processos estruturados. Com o uso dos conceitos: Abstração, encapsulamento, modularização, relacionamento, hierarquização, polimorfia, a programação orientada a objetos busca representar da forma mais fiel os acontecimentos do mundo real através de suas classes.</p>
                            
                    <p class="introducao">Classes em POO são “moldes” para objetos importantes da realidade que mereçam uma representação no ambiente observado. Portanto, um objeto é uma instância de alguma classe.</p>
                        <br>
                    <h3>Classes</h3>
                    <br>
                    <p class="introducao"><a href="https://dcc.ufrj.br/~jonathan/smalltalk/Introd-a-POO-com-Smalltalk-1994.pdf" target="_blank">As classes são uma generalização de objetos com características comuns entre si.</a> Elas são constituídas por dois conjuntos, um de atributos e outro de métodos.</p>
                    <br>
                    <h3>Atributos</h3>
                    <p class="introducao">São as características de um objeto. Os atributos armazenam valores como variáveis que determinam o estado do objeto. Atributos são inacessíveis e a única maneira de modificá-los é através dos métodos da classe.</p>
                        <br>
                    <h3>Métodos</h3>
                    <p class="introducao">Constituem uma interface de ações executadas pelo objeto. Um método é uma chamada que engatilha um estímulo no objeto e até pode gerar uma mudança no mesmo. A principal vantagem das classes é poder reutilizá-las em diferentes códigos com alterações quando necessárias. Outra propriedade das classes é a hierarquia que pode gerar subclasses e superclasses.</p>
                        <br>
                    <h3>Superclasse e subclasse</h3>
                    <p class="introducao">Classes podem compartilhar características suas para outras classes filhas que tenham mais especializações. <a href="https://books.google.com.br/books?hl=pt-BR&lr&id=P9IiEAAAQBAJ&oi=fnd&pg=PT5&dq=programa%C3%A7%C3%A3o+orientada+a+objeto&ots=V2Fwdx6pDn&sig=thlZ00A_x23xxgk#v=onepage&q=programa%C3%A7%C3%A3o%20orientada%20a%20objeto&f=false" target="_blank">Uma superclasse é o pai de alguma classe que se derivou desta,</a> enquanto essa classe filha que herdou as características da classe maior é chamada de subclasse.</p>
                        <br>
                    <h3>Conceitos para classes</h3>
                        <br>
                    <h4>Abstração</h4>
                    <br>
                    <p class="introducao">Desempenha um papel importante na criação das classes porque traz o princípio de que nem toda característica de uma classe é importante para o sistema. Cabe ao programador filtrar as informações e identificar o que será necessário e usado para representar o objeto real daquela classe a ser criada.</p>
                    <br>
                    <h4>Encapsulamento</h4>
                    <br>
                    <p class="introducao">Um grande avanço em relação à programação estruturada é a possibilidade de permitir o objeto disponível e funcional sem a necessidade de acessar seu interior. Apenas os métodos de uma classe são capazes de modificar o objeto dela, e ainda assim objetos diferentes podem interagir entre si.</p>
                        <br>
                    <h4>Herança</h4>
                    <br>
                    <p class="introducao"><a href="https://books.google.com.br/books?hl=pt-BR&lr&id=P9IiEAAAQBAJ&oi=fnd&pg=PT5&dq=programa%C3%A7%C3%A3o+orientada+a+objeto&ots=V2Fwdx6pDn&sig=thlZ00A_x23xxgk#v=onepage&q=programa%C3%A7%C3%A3o%20orientada%20a%20objeto&f=false" target="_blank">Classes podem possuir subclasses</a> que tenham características mais específicas para o objeto. As classes filhas herdam as características de sua(s) superclasse(s), não sendo necessário repetir o que já está dentro das classes ancestrais. A herança pode ser simples, com um único ancestral, ou múltipla, com mais de um ancestral.</p>
                        <br>
                    <h4>Polimorfismo</h4>
                    <br>
                    <p class="introducao">Um mesmo método pode ser usado em diferentes classes de forma específica e diferente para cada objeto.</p>
                        <br>
                    <h3>Programação orientada a objetos X Programação estruturada</h3>
                    <br>
                    <p class="introducao">A programação estruturada revolucionou sua época com a ideia de dividir um grande problema em partes menores. Entretanto, a falta de flexibilidade e a dificuldade em determinar a prioridade entre estruturas ou processos diminuem o desempenho desse paradigma em grandes projetos.</p>

                    <p class="introducao">A programação orientada a objetos foca em identificar os principais componentes que um sistema possui e suas interações. A mesma metodologia usada para definir a lógica do sistema também pode ser usada na implementação, sem a necessidade de adaptar a programação e estrutura dos dados como no paradigma estruturado.</p>

                    <p class="introducao"><a href="https://books.google.com.br/books?hl=pt-BR&lr&id=P9IiEAAAQBAJ&oi=fnd&pg=PT5&dq=programa%C3%A7%C3%A3o+orientada+a+objeto&ots=V2Fwdx6pDn&sig=thlZ00A_x23xxgk#v=onepage&q=programa%C3%A7%C3%A3o%20orientada%20a%20objeto&f=false" target="_blank">Vale ressaltar que a programação orientada a objetos pode,</a> em alguns casos, ser uma desvantagem em relação ao paradigma estruturado. Por exemplo, em um código que realiza um cálculo, dividir o problema em partes menores a serem solucionadas pode ser mais prático do que tornar suas partes em objetos.</p>

                </article>
            </section>
            <aside class="references">
                <h3>Referências <br></h3>
                <div class="left">
                    <ul>
                        <li><a href="https://scholar.google.com.br/citations?view_op=view_citation&hl=pt-BR&user=b2x6tLwAAAAJ&citation_for_view=b2x6tLwAAAAJ:zYLM7Y9cAGgC" target="_blank">https://scholar.google.com.br/citations?view_op=view_citation&hl=pt-BR&user=b2x6tLwAAAAJ&citation_for_view=b2x6tLwAAAAJ:zYLM7Y9cAGgC</a></li>
                        <li><a href="https://www.researchgate.net/publication/262882317_Conhecendo_o_Smalltalk_-_Todos_os" target="_blank">https://www.researchgate.net/publication/262882317_Conhecendo_o_Smalltalk_-_Todos_os</a></li>
                        <li><a href="https://books.google.com.br/books?hl=pt-BR&lr&id=P9IiEAAAQBAJ&oi=fnd&pg=PT5&dq=programa%C3%A7%C3%A3o+orientada+a+objeto&ots=V2Fwdx6pDn&sig=thlZ00A_x23xxgk" target="_blank">https://books.google.com.br/books?hl=pt-BR&lr&id=P9IiEAAAQBAJ&oi=fnd&pg=PT5&dq=programa%C3%A7%C3%A3o+orientada+a+objeto&ots=V2Fwdx6pDn&sig=thlZ00A_x23xxgk</a></li>
                        <li><a href="https://dcc.ufrj.br/~jonathan/smalltalk/Introd-a-POO-com-Smalltalk-1994.pdf" target="_blank">https://dcc.ufrj.br/~jonathan/smalltalk/Introd-a-POO-com-Smalltalk-1994.pdf</a></li>
                    </ul>
                </div>
                <!--<div class="divider"></div>
                <div class="right">
                    -<ul>
                        <li><a href="https://exemplo.com">Referência 3</a></li>
                        <li><a href="https://exemplo.com">Referência 4</a></li>
                    </ul>

                    <div class="divider"></div>
                    
                </div>-->
            </aside>
            
        </main>
        <!--
        <div class="download-container">
            <a href="pdf/Dart- Atributos e Curiosidades-Victoria.pdf" download="Atributos e Curiosidades" class="download-btn">Baixar PDF</a>
        </div>-->
    </div>
    
    <!--<footer>
        <p class="cy">₢ By Felipe Monteiro Silveira ₢</p>
    </footer>-->

</body>
</html>
