<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História do POO</title>
    <link rel="stylesheet" href="historia-dart.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
    <link rel="shortcut icon" href="/image/OIP.ico" type="image/x-icon">
</head>
<body>
    
    <div class="navbar">
        <!--<a href="/src/index.html">Apresentação</a>-->
        <a href="/template/historia-poo/historia-poo.html">Historia do POO</a>
        <a href="/template/atributos-dart/atr-dart.html">Atributos do Dart</a>
        <a href="/template/atributos-paradigma/atr-para.html">Atributos do Paradigma</a>
        <a href="/index.html">Apresentação</a>
        
    </div>

     <!-- Slick Carousel Scripts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
     <script src="historia-dart.js"></script>

    <header>
        <h1>História da Linguagem Dart</h1>
    </header>


    <div class="fundo">
        <main>
            <section class="content">
                <article>
                    <h2>Introdução da Linguagem Dart</h2>
                    <br>
                    <!--<img src="/src/image/AlanKay.jpg" alt="Imagem relacionada à POO">-->
                    <p class="introducao">Dart é uma <a href="https://pt.wikipedia.org/wiki/Dart_(linguagem_de_programação)#Exemplo" target="_blank">linguagem de programação desenvolvida pela Google</a>, voltada principalmente para o desenvolvimento web. Ela foi criada pelos engenheiros Lars Bak, conhecido pelo seu trabalho no Google Chrome, e Kasper Lund. A primeira aparição oficial do Dart aconteceu em outubro de 2011, durante a GOTO Conference na Dinamarca. Desde então, a linguagem evoluiu muito e se consolidou como uma ferramenta poderosa e versátil.</p>
                    <br>
                    <h3>A aprovação do Dart pelo comite TC52 da Ecma International</h3>
                    <br>
                    <p class="introducao">Para que o Dart pudesse ser lançado de forma oficial e reconhecido como uma linguagem de programação padrão, foi necessário passar pela aprovação do comitê técnico TC52 da Ecma International. Esse processo garantiu que o Dart seguisse todos os padrões internacionais de desenvolvimento e fosse aceito por todos os navegadores modernos, o que foi um marco importante para sua popularização.</p>
                    <br>
                    <h3>A atualizaçãopara o Dart 2 em 2018</h3>
                    <br>
                    <p class="introducao">Em 2018, o Dart passou por uma grande atualização com o lançamento do Dart 2. Essa nova versão trouxe várias melhorias, incluindo uma otimização focada no desenvolvimento Client-Side (do lado do cliente) para a web. Além disso, o Dart também entrou no mundo do desenvolvimento mobile, ganhando ainda mais versatilidade.</p>
                    <br>
                    <h3>As duas soluções atuais: Dart Native e Dart Web, explicando suas funções.</h3>
                    <br>
                    <p class="introducao">Hoje, o Dart oferece duas grandes soluções: <a href="https://dart.dev/" target="_blank">Dart Native e Dart Web.</a> O Dart Native é a escolha certa para quem deseja desenvolver aplicativos mobile, de desktop ou servidores. Ele conta com a máquina virtual Dart e dois tipos de compilação: JIT (just-in-time), que compila o código durante a execução, e AOT (ahead-of-time), que compila o código antes da execução, gerando um código de máquina otimizado.Por outro lado, o Dart Web, como o próprio nome indica, é voltado para o desenvolvimento web. Ele vem com o Dartdevc, um compilador que transforma o código durante o desenvolvimento, e o dart2js, que é usado para compilar o código final que será usado em produção.</p>
                    <br>
                    <h3>A necessidade do Dart SDK para o desenvolvimento, exceto no caso do Flutter.</h3>
                    <br>
                    <p class="introducao">Para desenvolver utilizando Dart, seja para web, servidores ou scripts de linha de comando, é necessário instalar o Dart SDK. <a href="https://dart.dev/libraries">Ele oferece uma biblioteca e várias ferramentas</a> que ajudam no processo de desenvolvimento. Agora, se o foco for o desenvolvimento mobile, não é necessário instalar o SDK do Dart diretamente, basta instalar o Flutter, que é o framework mais popular da linguagem.
                        Um dos grandes diferenciais do Dart é que ele é fortemente tipado, mas oferece a flexibilidade de o desenvolvedor escolher se quer declarar os tipos explicitamente ou deixar que a linguagem faça isso automaticamente através de inferência.</p>
                    <img src="/image/img-dart2.png">
                    <img src="/image/img-dart-helloworld.png">
                    <br>
                    <h3>Principais Frameworks</h3>
                    <br>
                    <ul class="introducao">
                        <li>Flutter: Muito popular para desenvolvimento mobile e multiplataforma.</li>
                        <li>AngularDart: Mais voltado para desenvolvimento web.</li>
                        <li>Material Design Lite: Para criar interfaces seguindo o padrão do Material Design.</li>
                        <li>OverReact, VueDart, Aqueduct, Angel e Jaguar: São outras opções que ampliam ainda mais as possibilidades de desenvolvimento com Dart, cobrindo áreas como desenvolvimento de APIs, servidores e até interfaces de usuário reativas.</li>
                    </ul>


                </article>
            </section>
            <aside class="references">
                <h3>Referências <br></h3>
                <div class="left">
                    <ul>
                        <li><a href="https://dart.dev/" target="_blank">https://dart.dev/</a></li>
                        <li><a href="https://dart.dev/libraries" target="_blank">https://dart.dev/libraries</a></li>
                        <li><a href="https://pt.wikipedia.org/wiki/Dart_(linguagem_de_programa%C3%A7%C3%A3o)#:~:text=Dart%20%28originalmente%20denominada%20Dash%29%20%C3%A9%20uma%20linguagem%20de,como%20a%20linguagem%20principal%20embutida%20nos%20navegadores.%20" target="_blank">https://pt.wikipedia.org/wiki/Dart_(linguagem_de_programa)</a></li>
                    </ul>
                </div>
                <!--<div class="divider"></div>
                <div class="right">
                    -<ul>
                        <li><a href="https://exemplo.com">Referência 3</a></li>
                        <li><a href="https://exemplo.com">Referência 4</a></li>
                    </ul>

                    <div class="divider"></div>
                    
                </div>-->
            </aside>
            
        </main>
    </div>
    
</body>
</html>
